    <!-------------------------------------------------- 代表性研究 ---------------------------------------------->
    <section id="research" class="mb-5">
      <div class="mb-5 text-center position-relative">
        <h1 class="section-title mb-3" data-lang="researchPageTitle"></h1>
        <p class="section-lead mx-auto" data-lang="researchPageLead"></p>
        
        <a class="btn btn-outline-primary btn-sm position-absolute top-0 end-0"
          href="research-fullPage.html"
          data-lang="researchMore"></a>
      </div>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100 border-0 shadow-sm card-shadow">
            <img src="assets/Images/PaperImage/chatdev.png" class="card-img-top" alt="ChatDev" />
            <div class="card-body">
              <h5 class="card-title" data-lang="research1Title"></h5>
              <p class="card-text" data-lang="research1Desc"></p>
              <div class="d-flex justify-content-center mt-2">
                <a href="https://aclanthology.org/2024.acl-long.810/"
                  target="_blank"
                  class="btn btn-outline-primary">
                  <i class="bi bi-file-earmark me-2"></i>
                  <span data-lang="paperlink"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 shadow-sm card-shadow">
            <img src="assets/Images/PaperImage/co-learning.png" class="card-img-top" alt="Co-Learning" />
            <div class="card-body">
              <h5 class="card-title" data-lang="research2Title"></h5>
              <p class="card-text" data-lang="research2Desc"></p>
              <div class="d-flex justify-content-center mt-2">
                <a href="https://aclanthology.org/2024.acl-long.305/"
                    target="_blank"
                    class="btn btn-outline-primary">
                    <i class="bi bi-file-earmark me-2"></i>
                    <span data-lang="paperlink"></span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 shadow-sm card-shadow">
            <img src="assets/Images/PaperImage/macnet.png" class="card-img-top" alt="MacNet" />
            <div class="card-body">
              <h5 class="card-title" data-lang="research3Title"></h5>
              <p class="card-text" data-lang="research3Desc"></p>
              <div class="d-flex justify-content-center mt-2">
                <a href="https://arxiv.org/abs/2406.07155"
                    target="_blank"
                    class="btn btn-outline-primary">
                    <i class="bi bi-file-earmark me-2"></i>
                    <span data-lang="paperlink"></span>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
