    <!-------------------------------------------------- 代表性研究 ---------------------------------------------->
    <section id="research" class="mb-5">
      <div class="mb-5 text-center">
        <h1 class="section-title mb-3" data-lang="researchPageTitle"></h1>
        <p class="section-lead mx-auto" data-lang="researchPageLead"></p>
      </div>

      <div class="p-4 border rounded-4 bg-white section-scroll-box">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100 border-0 shadow-sm card-shadow">
            <img src="assets/Images/PaperImage/agentxray.png" class="card-img-top" alt="AgentXRay" />
            <div class="card-body">
              <h5 class="card-title" data-lang="research13Title"></h5>
              <p class="card-text" data-lang="research13Desc"></p>
              <div class="d-flex justify-content-center mt-2">
                <a href="https://arxiv.org/abs/2602.05353"
                  target="_blank"
                  class="btn btn-outline-primary">
                  <i class="bi bi-file-earmark me-2"></i>
                  <span data-lang="paperlink"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 shadow-sm card-shadow">
            <img src="assets/Images/PaperImage/position.png" class="card-img-top" alt="Position" />
            <div class="card-body">
              <h5 class="card-title" data-lang="research12Title"></h5>
              <p class="card-text" data-lang="research12Desc"></p>
              <div class="d-flex justify-content-center mt-2">
                <a href="https://arxiv.org/abs/2602.05289"
                  target="_blank"
                  class="btn btn-outline-primary">
                  <i class="bi bi-file-earmark me-2"></i>
                  <span data-lang="paperlink"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 shadow-sm card-shadow">
            <img src="assets/Images/PaperImage/chatdev.png" class="card-img-top" alt="ChatDev" />
            <div class="card-body">
              <h5 class="card-title" data-lang="research1Title"></h5>
              <p class="card-text" data-lang="research1Desc"></p>
              <div class="d-flex justify-content-center mt-2">
                <a href="https://aclanthology.org/2024.acl-long.810/"
                  target="_blank"
                  class="btn btn-outline-primary">
                  <i class="bi bi-file-earmark me-2"></i>
                  <span data-lang="paperlink"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 shadow-sm card-shadow">
            <img src="assets/Images/PaperImage/co-learning.png" class="card-img-top" alt="Co-Learning" />
            <div class="card-body">
              <h5 class="card-title" data-lang="research2Title"></h5>
              <p class="card-text" data-lang="research2Desc"></p>
              <div class="d-flex justify-content-center mt-2">
                <a href="https://aclanthology.org/2024.acl-long.305/"
                    target="_blank"
                    class="btn btn-outline-primary">
                    <i class="bi bi-file-earmark me-2"></i>
                    <span data-lang="paperlink"></span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 shadow-sm card-shadow">
            <img src="assets/Images/PaperImage/macnet.png" class="card-img-top" alt="MacNet" />
            <div class="card-body">
              <h5 class="card-title" data-lang="research3Title"></h5>
              <p class="card-text" data-lang="research3Desc"></p>
              <div class="d-flex justify-content-center mt-2">
                <a href="https://arxiv.org/abs/2406.07155"
                    target="_blank"
                    class="btn btn-outline-primary">
                    <i class="bi bi-file-earmark me-2"></i>
                    <span data-lang="paperlink"></span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 shadow-sm card-shadow">
            <img src="assets/Images/PaperImage/puppeteer.png" class="card-img-top" alt="Puppeteer" />
            <div class="card-body">
              <h5 class="card-title" data-lang="research4Title"></h5>
              <p class="card-text" data-lang="research4Desc"></p>
              <div class="d-flex justify-content-center mt-2">
                <a href="https://arxiv.org/abs/2505.19591"
                    target="_blank"
                    class="btn btn-outline-primary">
                    <i class="bi bi-file-earmark me-2"></i>
                    <span data-lang="paperlink"></span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 shadow-sm card-shadow">
            <img src="assets/Images/PaperImage/iagents.png" class="card-img-top" alt="iAgents" />
            <div class="card-body">
              <h5 class="card-title" data-lang="research5Title"></h5>
              <p class="card-text" data-lang="research5Desc"></p>
              <div class="d-flex justify-content-center mt-2">
                <a href="https://neurips.cc/virtual/2024/poster/93728"
                    target="_blank"
                    class="btn btn-outline-primary">
                    <i class="bi bi-file-earmark me-2"></i>
                    <span data-lang="paperlink"></span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 shadow-sm card-shadow">
            <img src="assets/Images/PaperImage/ctc.png" class="card-img-top" alt="Croto" />
            <div class="card-body">
              <h5 class="card-title" data-lang="research6Title"></h5>
              <p class="card-text" data-lang="research6Desc"></p>
              <div class="d-flex justify-content-center mt-2">
                <a href="https://arxiv.org/abs/2406.08979"
                    target="_blank"
                    class="btn btn-outline-primary">
                    <i class="bi bi-file-earmark me-2"></i>
                    <span data-lang="paperlink"></span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 shadow-sm card-shadow">
            <img src="assets/Images/PaperImage/agentverse.png" class="card-img-top" alt="AgentVerse" />
            <div class="card-body">
              <h5 class="card-title" data-lang="research7Title"></h5>
              <p class="card-text" data-lang="research7Desc"></p>
              <div class="d-flex justify-content-center mt-2">
                <a href="https://iclr.cc/virtual/2024/poster/19109"
                    target="_blank"
                    class="btn btn-outline-primary">
                    <i class="bi bi-file-earmark me-2"></i>
                    <span data-lang="paperlink"></span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 shadow-sm card-shadow">
            <img src="assets/Images/PaperImage/ioa.png" class="card-img-top" alt="IoA" />
            <div class="card-body">
              <h5 class="card-title" data-lang="research8Title"></h5>
              <p class="card-text" data-lang="research8Desc"></p>
              <div class="d-flex justify-content-center mt-2">
                <a href="https://arxiv.org/abs/2407.07061"
                    target="_blank"
                    class="btn btn-outline-primary">
                    <i class="bi bi-file-earmark me-2"></i>
                    <span data-lang="paperlink"></span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 shadow-sm card-shadow">
            <img src="assets/Images/PaperImage/optima.png" class="card-img-top" alt="Optima" />
            <div class="card-body">
              <h5 class="card-title" data-lang="research9Title"></h5>
              <p class="card-text" data-lang="research9Desc"></p>
              <div class="d-flex justify-content-center mt-2">
                <a href="https://arxiv.org/abs/2410.08115"
                    target="_blank"
                    class="btn btn-outline-primary">
                    <i class="bi bi-file-earmark me-2"></i>
                    <span data-lang="paperlink"></span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 shadow-sm card-shadow">
            <img src="assets/Images/PaperImage/autoform.png" class="card-img-top" alt="AutoForm" />
            <div class="card-body">
              <h5 class="card-title" data-lang="research10Title"></h5>
              <p class="card-text" data-lang="research10Desc"></p>
              <div class="d-flex justify-content-center mt-2">
                <a href="https://aclanthology.org/2024.findings-emnlp.623/"
                    target="_blank"
                    class="btn btn-outline-primary">
                    <i class="bi bi-file-earmark me-2"></i>
                    <span data-lang="paperlink"></span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0 shadow-sm card-shadow">
            <img src="assets/Images/PaperImage/ebook.png" class="card-img-top" alt="Multi-Agent Research eBook" />
            <div class="card-body">
              <h5 class="card-title" data-lang="research11Title"></h5>
              <p class="card-text" data-lang="research11Desc"></p>
              <div class="d-flex justify-content-center mt-2">
                <a href="https://thinkwee.top/multiagent_ebook/"
                    target="_blank"
                    class="btn btn-outline-primary">
                    <i class="bi bi-file-earmark me-2"></i>
                    <span data-lang="paperlink"></span>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
