    <!----------------------------------团队成员---------------------------------------------------->
    <section id="people" class="mb-5">
      <div class="mb-5 text-center position-relative">
        <h1 class="section-title mb-3" data-lang="peopleTitle"></h1>
        <p class="section-lead mx-auto" data-lang="peopleLead"></p>
        
        <a class="btn btn-outline-primary btn-lg position-absolute top-0 end-0"
          href="people-fullPage.html"
          data-lang="peopleMore"></a>
      </div>

      <div class="row row-cols-1 row-cols-md-4 g-5 justify-content-center">
          <div class="col">
            <div class="card people-card h-100 border-0">
              <!-- 图片可点击：点击照片跳转 -->
              <a href="https://qianc62.github.io/"
                target="_blank"
                rel="noopener noreferrer"
                class="people-img-link">
                <div class="people-photo">
                  <img src="assets/Images/People/qianchen.png"
                      alt="Portrait of Prof. Qian Chen"
                      class="people-img" />
                </div>
              </a>
              <!-- 文字 -->
              <div class="card-body text-center people-body">
                <h5 class="card-title people-name" data-lang="ProfqianchenName"></h5>
                <div class="people-role text-muted" data-lang="rolePI"></div>
                <p class="card-text people-desc" data-lang="ProfqianchenDesc"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
