    <!--------------------------------------------- 联系方式 -------------------------------------->
    <section id="contact" class="mb-5">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6">
          <h1 class="section-title mb-3" data-lang="contactTitle"></h1>
          <p class="section-lead mb-4" data-lang="contactLead"></p>
          <ul class="list-unstyled mb-4">
            <li class="mb-3">
              <strong data-lang="contactEmailLabel"></strong>
              <a data-lang="contactEmailValue"></a>
            </li>
            <li class="mb-3">
              <strong data-lang="contactAddressLabel"></strong>
              <span data-lang="contactAddressValue"></span>
            </li>
            <li class="mb-3">
              <strong data-lang="contactOfficeLabel"></strong>
              <span data-lang="contactOfficeValue"></span>
            </li>
          </ul>
          <a class="btn btn-primary" href="mailto:qianc@sjtu.edu.cn" data-lang="contactButton"></a>
        </div>
        <div class="col-lg-6">
          <div class="d-flex align-items-center justify-content-center text-center p-4">
            <div>
              <img src="/assets/Images/学院楼.jpg" 
              class="card-img-top img-decorated" 
            />
            </div>
          </div>
        </div>
      </div>
    </section>
